= simple_form_for @animal, html: { multipart: true } do |f|
    - if @animal.errors.any?
        #errors
            %h2 
            = pluralize(@animal.errors.count, "error")
            prevented this Animal from saving
            %ul
                - @animal.errors.full_messages.each do |msg|
                    %li= msg
                    
    .form-group
        = f.input :name, input_html: { class: 'form-control' }
        
    .form-group
        = f.input :type_of_animal, input_html: { class: 'form-control' }
        
    .form-group
        = f.input :race, input_html: { class: 'form-control' }
        
    .form-inline
        = f.date_select :arrived_at, { :order => [:day, :month, :year] }, {:class => "form-control"}
        
    .form-group
        = f.input :description, input_html: { class: 'form-control' }

    = f.button :submit, class: 'btn btn-primary'