!!! 5
%html
%head
  %title Einwohner
  = stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track' => true
  = javascript_include_tag 'application', 'data-turbolinks-track' => true
  = csrf_meta_tags
%body
  %nav.navbar.navbar-default
    .container
      .navbar-brand= link_to "Tierheim", root_path
      
      -if user_signed_in?
        %ul.nav.navbar-nav.navbar-right
          %li= link_to "Neuer Einwohner", new_animal_path
          %li= link_to "Account", edit_user_registration_path
          %li= link_to "Ausloggen", destroy_user_session_path, method: :delete
      - else
        %ul.nav.navbar-nav.navbar-right
          %li= link_to "Registrieren", new_user_registration_path
          %li= link_to "Einloggen", new_user_session_path
  .container
    - flash.each do |type, content|
      - if content.respond_to?('each') 
        - content.each do |item|
          = render 'layouts/alerts', 
            type: type,
            content: item
      - else
        = render 'layouts/alerts', 
          type: type,
          content: content

    = yield